{% extends 'base.html' %} {% block content %} {% load static %} <<<<<<< HEAD
<div class="h-dvh">
  <div class="pl-24">
    <div class="flex pl-24 pt-32">
      <div class="flex">
        <div>
          <img
            src="{% static 'images/Totoro.png' %}"
            alt="Shifa"
            class="me-3 h-40"
          />
        </div>
        <div>
          <h1 class="font-bold text-7xl text-gray-950">TOTORO TRAVELL</h1>
          <p class="font-semibold text-3xl ml-3 pt-5">
            Selamat datang di Totoro Travell ^^
          </p>
        </div>
      </div>
    </div>
    <div class="pl-32 pr-40">
      <p class="font-semibold text-justify text-xl pt-12">
        Platform perjalanan yang dirancang untuk membantu Anda merencanakan
        petualangan terbaik dengan mudah dan nyaman. Kami menawarkan berbagai
        informasi, panduan, dan layanan pemesanan untuk membuat perjalanan Anda
        lebih menyenangkan dan tak terlupakan. Dengan fokus pada destinasi
        menarik, pengalaman lokal, dan perjalanan yang hemat biaya, kami hadir
        sebagai mitra terpercaya bagi para pelancong, baik yang mencari
        petualangan baru, perjalanan bisnis, maupun liburan keluarga.
      </p>
      <p></p>
      <br />
      <p class="font-semibold text-justify text-xl pb-10">
        Kami berkomitmen untuk memberikan layanan terbaik bagi para
        pelancong.Dengan dukungan tim ahli yang berpengalaman, kami siap
        membantu Anda merencanakan perjalanan yang sesuai dengan kebutuhan dan
        keinginan Anda.Kami juga menyediakan berbagai informasi menarik, tips
        perjalanan, dan rekomendasi destinasi yang dapat Anda jadikan referensi
        dalam merencanakan perjalanan Anda.Dengan Totoro Travell, Anda dapat
        menikmati perjalanan yang menyenangkan, aman, dan tak terlupakan.
      </p>
      <p class="font-extralight line-through text-justify text-xl pb-5">
        1. Platform Perencanaan Perjalanan Personal Deskripsi: Proyek ini
        berfokus pada pembuatan aplikasi atau website yang membantu pengguna
        merencanakan perjalanan mereka secara lebih mudah dan terorganisir.
        Pengguna dapat memasukkan preferensi seperti jenis liburan yang
        diinginkan (misalnya, petualangan, relaksasi, atau budaya), anggaran,
        dan waktu yang tersedia. Berdasarkan data tersebut, platform ini
        memberikan rekomendasi destinasi, penginapan, restoran, serta aktivitas
        yang dapat dilakukan di tempat tujuan. Aplikasi ini juga bisa
        menyertakan fitur pembuatan itinerary otomatis dan integrasi dengan
        layanan pemesanan tiket serta hotel.
        <br /><br />
        2. Penyedia Layanan Wisata Virtual Deskripsi: Menggunakan teknologi
        Virtual Reality (VR) atau Augmented Reality (AR), proyek ini
        memungkinkan wisatawan untuk "mengunjungi" destinasi wisata populer
        secara virtual. Aplikasi atau platform ini bisa menyediakan tur ke
        tempat-tempat bersejarah, keajaiban alam, atau festival budaya tanpa
        perlu meninggalkan rumah. Wisatawan dapat merasakan pengalaman mendalam,
        seperti berjalan-jalan di jalanan Paris, mengunjungi piramida Mesir,
        atau menyaksikan acara budaya di Jepang.
        <br /><br />
        3. Sistem Review dan Rekomendasi Lokal Deskripsi: Platform ini
        memungkinkan wisatawan untuk berbagi pengalaman dan ulasan tentang
        berbagai tempat wisata, restoran, penginapan, dan aktivitas lokal di
        tujuan wisata. Sistem ini akan memberikan rekomendasi kepada pengguna
        berdasarkan ulasan dan rating yang diterima oleh destinasi tersebut.
        Fitur pencarian dapat membantu wisatawan menemukan tempat-tempat yang
        sesuai dengan kategori yang mereka cari, misalnya, tempat yang ramah
        anak, tempat makan vegan, atau aktivitas yang cocok untuk petualangan.
        <br /><br />
        4. Aplikasi Manajemen Pengeluaran Perjalanan Deskripsi: Aplikasi ini
        dirancang untuk membantu wisatawan mengatur anggaran perjalanan mereka
        dengan lebih mudah. Pengguna dapat mencatat pengeluaran mereka selama
        perjalanan dan menetapkan batas anggaran untuk berbagai kategori seperti
        akomodasi, makanan, transportasi, dan kegiatan. Fitur tambahan seperti
        konversi mata uang otomatis dan estimasi biaya untuk destinasi tertentu
        juga dapat membantu wisatawan mengelola keuangan mereka. Aplikasi ini
        bisa memberikan rekomendasi cara-cara menghemat uang berdasarkan
        pengalaman wisatawan sebelumnya.
        <br /><br />
        5. Travel Blogger atau Vlogging Deskripsi: Proyek ini melibatkan
        pembuatan konten berbasis perjalanan melalui platform seperti blog atau
        vlog. Travel blogger/vlogger bisa berbagi pengalaman mereka mengunjungi
        destinasi-destinasi di seluruh dunia, memberikan tips praktis, serta
        membagikan informasi tentang tempat-tempat yang jarang diketahui banyak
        orang. Dengan memanfaatkan platform seperti YouTube, Instagram, atau
        TikTok, Anda bisa menghasilkan konten video atau artikel yang menarik
        dan informatif, sekaligus membangun audiens atau komunitas wisatawan
        yang terinspirasi.
        <br /><br />
        6. Aplikasi untuk Wisata Ramah Lingkungan Deskripsi: Proyek ini
        bertujuan untuk membantu wisatawan memilih opsi yang lebih ramah
        lingkungan dalam perjalanan mereka. Aplikasi atau platform ini akan
        memberi informasi tentang akomodasi yang menerapkan prinsip
        keberlanjutan, aktivitas yang melibatkan pelestarian alam, dan pilihan
        transportasi yang ramah lingkungan. Selain itu, platform ini bisa
        memberi panduan tentang cara mengurangi jejak karbon saat berwisata dan
        memberikan tips-tips hemat energi selama perjalanan.
        <br /><br />
        7. Sistem Penawaran dan Diskon Wisata Deskripsi: Proyek ini fokus pada
        pengumpulan berbagai penawaran atau diskon untuk perjalanan dan wisata.
        Platform ini akan memungkinkan pengguna untuk mencari tiket pesawat,
        hotel, dan aktivitas wisata dengan harga terbaik. Selain itu, aplikasi
        ini bisa memberi tahu pengguna tentang promo-promo terbatas, memberikan
        diskon eksklusif, atau menawarkan program loyalty bagi pelanggan setia.
        Sistem notifikasi akan mengingatkan pengguna jika ada penawaran menarik
        sesuai dengan destinasi yang mereka inginkan.
        <br /><br />
        8. Proyek Wisata Kuliner Deskripsi: Bagi wisatawan yang tertarik pada
        aspek kuliner dalam perjalanan mereka, proyek ini akan menyediakan
        panduan wisata kuliner di berbagai tempat. Pengguna dapat menemukan
        restoran lokal yang menyajikan makanan khas, tur kuliner dengan pemandu
        lokal, atau bahkan kelas memasak tradisional. Proyek ini bisa berbentuk
        aplikasi atau situs web yang menyarankan tempat makan dan aktivitas
        kuliner berdasarkan preferensi pengguna (misalnya, vegetarian, halal,
        atau masakan lokal khas).
        <br /><br />
        9. Aplikasi Travel untuk Solo Traveler Deskripsi: Aplikasi ini ditujukan
        untuk wisatawan yang bepergian sendirian. Fitur utama termasuk tips
        untuk solo traveler, rekomendasi destinasi yang aman, serta komunitas
        atau forum bagi solo traveler lain untuk berbagi pengalaman dan mencari
        teman perjalanan. Aplikasi ini juga bisa menyediakan peta lokasi-lokasi
        yang cocok untuk wisatawan solo, seperti kafe nyaman, penginapan yang
        ramah solo traveler, dan aktivitas yang memungkinkan untuk eksplorasi
        mandiri.
        <br /><br />
        10. Platform Pemesanan Aktivitas Lokal Deskripsi: Platform ini
        memungkinkan wisatawan untuk memesan aktivitas lokal yang menarik saat
        mengunjungi destinasi tertentu. Aktivitas ini bisa berupa tur alam,
        pengalaman budaya seperti kelas seni atau memasak, atau aktivitas
        petualangan seperti scuba diving dan hiking. Pengguna dapat memilih
        aktivitas sesuai minat dan mengatur jadwal mereka. Platform ini juga
        memungkinkan pemesanan langsung dan menawarkan ulasan dari wisatawan
        lain untuk membantu membuat keputusan yang lebih baik. Dengan
        proyek-proyek ini, Anda dapat memenuhi berbagai kebutuhan wisatawan dan
        memberikan pengalaman perjalanan yang lebih baik, terorganisir, dan
        menarik.
      </p>
       <p class="font-semibold text-justify text-xl pb-10">
       Dalam mengembangkan proyek perjalanan, penting untuk selalu memperhatikan pengalaman pengguna sebagai prioritas utama. Beberapa proyek mungkin perlu menyesuaikan dengan kebutuhan lokal atau tren yang berkembang, seperti keinginan untuk wisata yang lebih ramah lingkungan atau lebih personal. Oleh karena itu, riset pasar dan umpan balik dari pengguna sangat penting untuk memperbaiki dan menyempurnakan setiap fitur. Selain itu, jangan lupa untuk mempertimbangkan keterjangkauan teknologi dan aksesibilitas bagi berbagai kalangan pengguna.
       <br><br>
Mari bersama-sama berinovasi di dunia pariwisata! Jika Anda memiliki ide atau visi tentang bagaimana perjalanan bisa menjadi lebih mudah, menyenangkan, atau ramah lingkungan, sekarang adalah waktu yang tepat untuk mewujudkannya. Dengan teknologi yang terus berkembang, peluang untuk menciptakan pengalaman perjalanan yang unik semakin besar. Ayo mulai proyek perjalanan Anda dan bantu para wisatawan menjelajahi dunia dengan cara yang lebih baik!✈️✈️
       </p>
    </div>

    {% endblock %}
  </div>
</div>
