{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="h-lvh">
    <div class="flex pl-24 pt-32">
        <div>
            <img src="{% static 'images/logo.jpg' %}" alt="" class="w-96 h-auto">
        </div>
        <div class="pl-32 pr-40">
            <h1 class="font-bold text-4xl">Shifa Nur Fauziyyah</h1>
            <h3 class="font-bold text-xl pt-12">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure reprehenderit similique doloribus, maiores cum facilis tempore quos accusantium molestiae quaerat provident quis pariatur! Similique quas fugiat a, incidunt laborum sapiente?</h3>
        </div>
    </div>
    <div class="flex pl-24 pt-32">
        <div>
            <img src="{% static 'images/logo.jpg' %}" alt="" class="w-96 h-auto">
        </div>
        <div class="pl-32 pr-40">
            <h1 class="font-bold text-4xl">Rois Azzam Shiddiq</h1>
            <h3 class="font-bold text-xl pt-12">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure reprehenderit similique doloribus, maiores cum facilis tempore quos accusantium molestiae quaerat provident quis pariatur! Similique quas fugiat a, incidunt laborum sapiente?</h3>
        </div>
    </div>
</div>
<div class="h-auto">
    <div class="flex pl-24">
        <div>
            <img src="{% static 'images/logo.jpg' %}" alt="" class="w-96 h-auto">
        </div>
        <div class="pl-32 pr-40">
            <h1 class="font-bold text-4xl">Muhammad Rojali</h1>
            <h3 class="font-bold text-xl pt-12">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure reprehenderit similique doloribus, maiores cum facilis tempore quos accusantium molestiae quaerat provident quis pariatur! Similique quas fugiat a, incidunt laborum sapiente?</h3>
        </div>
    </div>
    <div class="flex pl-24 pt-32">
        <div>
            <img src="{% static 'images/logo.jpg' %}" alt="" class="w-96 h-auto">
        </div>
        <div class="pl-32 pr-40">
            <h1 class="font-bold text-4xl">Muhammad Hisyam</h1>
            <h3 class="font-bold text-xl pt-12">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure reprehenderit similique doloribus, maiores cum facilis tempore quos accusantium molestiae quaerat provident quis pariatur! Similique quas fugiat a, incidunt laborum sapiente?</h3>
        </div>
    </div>
</div>
<div class="h-auto">
    <div class="flex pl-24 pt-32 pb-20">
        <div>
            <img src="{% static 'images/logo.jpg' %}" alt="" class="w-96 h-auto">
        </div>
        <div class="pl-32 pr-40">
            <h1 class="font-bold text-4xl">Rama Aditia</h1>
            <h3 class="font-bold text-xl pt-12">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure reprehenderit similique doloribus, maiores cum facilis tempore quos accusantium molestiae quaerat provident quis pariatur! Similique quas fugiat a, incidunt laborum sapiente?</h3>
        </div>
    </div>
</div>
{% endblock %}