{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="h-dvh">
    <div class="pl-24">
        <div class="flex pl-24 pt-32">
            <div class="flex">
                <div>
                    <img src="{% static 'images/Totoro.png' %}" alt="Shifa" class="me-3 h-40">
                </div>
                <div>
                    <h1 class="font-bold text-7xl text-gray-950">TOTORO TRAVELL</h1>
                    <p class="font-semibold text-3xl ml-3 pt-5">Selamat datang di Totoro Travell ^^</p>
                </div>
            </div>
        </div>
        <div class="pl-32 pr-40">
            <p class="font-semibold text-justify text-xl pt-12">Platform perjalanan yang dirancang untuk membantu
                Anda merencanakan petualangan terbaik dengan mudah dan nyaman.
                Kami menawarkan berbagai informasi, panduan, dan layanan pemesanan untuk membuat perjalanan Anda lebih
                menyenangkan dan tak terlupakan.
                Dengan fokus pada destinasi menarik, pengalaman lokal, dan perjalanan yang hemat biaya, 
                kami hadir sebagai mitra terpercaya bagi para pelancong, baik yang mencari petualangan baru, perjalanan bisnis, maupun liburan keluarga.
            </p>
            <br>
            <p class="font-semibold text-justify text-xl pb-10">Kami berkomitmen untuk memberikan layanan terbaik bagi para pelancong.Dengan dukungan tim ahli yang berpengalaman, kami siap membantu Anda merencanakan perjalanan yang sesuai dengan kebutuhan dan keinginan Anda.Kami juga menyediakan berbagai informasi menarik, tips perjalanan, dan rekomendasi destinasi yang dapat Anda jadikan referensi dalam merencanakan perjalanan Anda.Dengan Totoro Travell, Anda dapat menikmati perjalanan yang menyenangkan, aman, dan tak terlupakan.
            </p>
        </div>
    </div>
</div>
{% endblock %}