{% extends 'base.html' %} {% block content %} {% load static %}
<div
  class="sm:max-w-full max-xl:h-auto h-svh bg-cover bg-center flex items-center justify-center"
>
  <div class="max-w-screen-lg mx-auto text-center">
    <!-- Bagian Teks -->
    <div class="px-4">
      <h1 class="font-bold text-7xl text-blue-500">TOTORO TRAVELL</h1>
      <br />
      <p class="text-3xl text-blue-500 font-bold">
        Pesan Tiket Mudah dan Cepat
      </p>
      <br />
      <p class="text-xl">
        Cari, pilih, dan pesan tiket perjalananmu dalam hitungan menit.
        <br />Praktis, aman, dan terjangkau!
      </p>
      <!-- Teks Tengah -->
      <p class="text-3xl font-bold mt-6">Mulai perjalananmu sekarang!</p>
      <!-- Tombol -->
      <a
        href="{% url 'services' %}"
        class="mt-9 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
      >
        <span
          class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
        >
          PESAN SEKARANG
        </span>
      </a>
    </div>
    <!-- Bagian Gambar -->
    <div class="pt-10">
      <img
        src="{% static 'images/travel.png' %}"
        alt="Travel Illustration"
        class="mx-auto max-w-xs"
      />
    </div>
  </div>
</div>

<div class="flex items-center justify-center h-screen">
  <div
    class="max-w-max bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select tab</label>
      <select
        id="tabs"
        class="bg-gray-50 border-0 border-b border-gray-200 text-gray-900 text-sm rounded-t-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option>Statistics</option>
      </select>
    </div>
    <ul
      class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400 rtl:divide-x-reverse"
      id="fullWidthTab"
      data-tabs-toggle="#fullWidthTabContent"
      role="tablist"
    >
      <li class="w-full">
        <button
          id="stats-tab"
          data-tabs-target="#stats"
          type="button"
          role="tab"
          aria-controls="stats"
          aria-selected="true"
          class="inline-block w-full p-4 rounded-ss-lg bg-gray-50 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600"
        >
          Statistics
        </button>
      </li>
    </ul>
    <div
      id="fullWidthTabContent"
      class="border-t border-gray-200 dark:border-gray-600"
    >
      <div
        class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800"
        id="stats"
        role="tabpanel"
        aria-labelledby="stats-tab"
      >
        <dl
          class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8"
        >
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">73M+</dt>
            <dd class="text-gray-500 dark:text-gray-400">Developers</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">100M+</dt>
            <dd class="text-gray-500 dark:text-gray-400">
              Public repositories
            </dd>
          </div>
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">1000s</dt>
            <dd class="text-gray-500 dark:text-gray-400">
              Open source projects
            </dd>
          </div>
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">1B+</dt>
            <dd class="text-gray-500 dark:text-gray-400">Contributors</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">90+</dt>
            <dd class="text-gray-500 dark:text-gray-400">
              Top Forbes companies
            </dd>
          </div>
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">4M+</dt>
            <dd class="text-gray-500 dark:text-gray-400">Organizations</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="sm:max-w-full max-xl:h-auto h-96 sm:mt-20 items-center">
  <div
    class="sm:flex justify-between md:ml-16 max-xl:ml-24 mr-16 max-xl:mb-10 space-x-6"
  >
    <!-- Card 1 -->
    <div
      class="w-60 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-2"
    >
      <div class="flex justify-end px-4 pt-4">
        <button
          id="dropdownButton1"
          data-dropdown-toggle="dropdown1"
          class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
          type="button"
        >
          <span class="sr-only">Open dropdown</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>
        </button>
        <div
          id="dropdown1"
          class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
        >
          <ul class="py-2">
            <li>
              <a
                href="https://www.instagram.com/shaa.nur_05"
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Instagram</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/shifa-nur-fauziyyah-977a5532b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://www.github.com/ShifaFzyh"
                target="_blank"
                class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="{% static 'images/Shifa.jpg' %}"
          alt="Shifa"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Shifa Nur Fauziyyah
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">0110224192</span>
        <div class="flex mt-4 md:mt-6">
          <a
            href="https://www.linkedin.com/in/shifa-nur-fauziyyah-977a5532b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
            class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >Message</a
          >
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div
      class="w-60 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-2"
    >
      <div class="flex justify-end px-4 pt-4">
        <button
          id="dropdownButton2"
          data-dropdown-toggle="dropdown2"
          class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
          type="button"
        >
          <span class="sr-only">Open dropdown</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>
        </button>
        <div
          id="dropdown2"
          class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
        >
          <ul class="py-2">
            <li>
              <a
                href="https://www.instagram.com/issa.5_?igsh=MTg3b3d4d2M3MGwxYw=="
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Instagram</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/rois-azzam-a61107330?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://github.com/Roisazzshid"
                target="_blank"
                class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="{% static 'images/Rois.jpg' %}"
          alt="Rois"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Rois Azzam Shiddiq
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">0110224156</span>
        <div class="flex mt-4 md:mt-6">
          <a
            href="https://www.linkedin.com/in/rois-azzam-a61107330?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
            class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >Message</a
          >
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div
      class="w-60 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-2"
    >
      <div class="flex justify-end px-4 pt-4">
        <button
          id="dropdownButton3"
          data-dropdown-toggle="dropdown3"
          class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
          type="button"
        >
          <span class="sr-only">Open dropdown</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>
        </button>
        <div
          id="dropdown3"
          class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
        >
          <ul class="py-2">
            <li>
              <a
                href="https://www.instagram.com/mhmdrojali_27?igsh=azBtaWYxNXdxOWZ3"
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Instagram</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/muhamad-rojali-93b125329?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://github.com/muhamadr03"
                target="_blank"
                class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="{% static 'images/rojali.png' %}"
          alt="Rojali"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Muhamad Rojali
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">0110224101</span>
        <div class="flex mt-4 md:mt-6">
          <a
            href="https://www.linkedin.com/in/muhamad-rojali-93b125329?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
            class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >Message</a
          >
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div
      class="w-60 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-2"
    >
      <div class="flex justify-end px-4 pt-4">
        <button
          id="dropdownButton4"
          data-dropdown-toggle="dropdown4"
          class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
          type="button"
        >
          <span class="sr-only">Open dropdown</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>
        </button>
        <div
          id="dropdown4"
          class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
        >
          <ul class="py-2">
            <li>
              <a
                href="https://www.instagram.com/john_doe_27"
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Instagram</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/johndoe"
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://github.com/johndoe"
                target="_blank"
                class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="{% static 'images/Rama.jpg' %}"
          alt="John"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Rama Aditia
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">0110224160</span>
        <div class="flex mt-4 md:mt-6">
          <a
            href="https://www.linkedin.com/in/johndoe"
            target="_blank"
            class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >Message</a
          >
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div
      class="w-60 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-2"
    >
      <div class="flex justify-end px-4 pt-4">
        <button
          id="dropdownButton5"
          data-dropdown-toggle="dropdown5"
          class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
          type="button"
        >
          <span class="sr-only">Open dropdown</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>
        </button>
        <div
          id="dropdown5"
          class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
        >
          <ul class="py-2">
            <li>
              <a
                href="https://www.instagram.com/syamfaris21"
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Instagram</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/jane_doe"
                target="_blank"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://github.com/janedoe"
                target="_blank"
                class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="{% static 'images/Jane.jpg' %}"
          alt="Jane"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          M. Hisyam Alfaris
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">0110224200</span>
        <div class="flex mt-4 md:mt-6">
          <a
            href="https://www.linkedin.com/in/jane_doe"
            target="_blank"
            class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >Message</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
