{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="h-lvh">
    <div class="pt-20 text-center">
        <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px text-base h-10">
            <li>
                <a href="{% url 'plane' %}" class="flex items-center justify-center px-7 h-16 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><i class="fa-solid fa-plane"></i></a>
            </li>
            <li>
                <a href="{% url 'train' %}" class="flex items-center justify-center px-7 h-16 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><i class="fa-solid fa-train"></i></a>
            </li>
            <li>
                <a href="{% url 'bus' %}" class="flex items-center justify-center px-7 h-16 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><i class="fa-solid fa-bus"></i></a>
            </li>
            </ul>
        </nav>
    </div>

    <!-- Promo Announcement Banner with Background Color -->
    <div class="py-12 px-6 md:px-16 rounded-lg shadow-xl mt-10 text-center">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl dark:text-white">Promo Terbatas! Pesan Sekarang, Nikmati Diskon Besar!</h1>
        <p class="mb-6 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
           Dapatkan diskon 25% untuk tiket pesawat, kereta, dan bus. Promo hanya berlaku sampai <strong>25 Januari 2025</strong>
        </p>
        <a href="{% url 'plane' %}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            Pesan Sekarang
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>

{% endblock %}
