{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="h-lvh">
    <div class="pt-20 text-center">
        <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px text-base h-10">
            <li>
                <a href="{% url 'plane' %}" class="flex items-center justify-center px-7 h-16 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><i class="fa-solid fa-plane"></i></a>
            </li>
            <li>
                <a href="{% url 'train' %}" class="flex items-center justify-center px-7 h-16 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><i class="fa-solid fa-train"></i></a>
            </li>
            <li>
                <a href="{% url 'bus' %}" class="flex items-center justify-center px-7 h-16 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><i class="fa-solid fa-bus"></i></a>
            </li>
            </ul>
        </nav>
    </div>

    <!-- Promo Announcement Banner with Background Color -->
    

</div>
{% endblock %}
